---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Astro">
	<main class="container mx-auto">
		<h1 class="text-3xl mt-4">Astro</h1>
		<a href="/new-product-landing" class="text-blue-500 hover:text-blue-700">New Product Landing</a>
	</main>
</Layout>
