---
import Layout from '../layouts/Landing.astro';
---

<Layout title="New Product Landing">
	<main class="container mx-auto">
		<h1 class="text-3xl mt-4 font-heading">New Product Landing</h1>
	</main>
</Layout>
